{% extends 'base.html.twig' %}

{% block title %}{% trans %}Transactions{% endtrans %}{% endblock %}

{% block main_content %}
  {% if pagination.pages > 1 %} {% include 'layout/_pagination.html.twig' %} {% endif %}

  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Amount</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.date ? transaction.date|format_datetime('medium') : '' }}</td>
        <td>{{ transaction.account }}</td>
        <td>{{ transaction.amount|format_currency(transaction.account.currency) }}</td>
        <td>
          {% if is_granted('edit', transaction) %}
            <a
                    href="{{ path('transaction_edit', {'id': transaction.id, company: transaction.company.id}) }}"
            >{% include 'icons/_pencil.svg.twig' %}</a>
          {% endif %}
          {% if is_granted('delete', transaction) %}
            {% include 'transaction/_delete_form.html.twig' %}
          {% endif %}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="6">no records found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if pagination.pages > 1 %} {% include 'layout/_pagination.html.twig' %} {% endif %}

  <a href="{{ path('transaction_new', {company: company.id}) }}">Create new</a>
{% endblock %}
