{% extends 'base.html.twig' %}

{% block title %}Invitation index{% endblock %}

{% block main_content %}
    <h1>Invitation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Email</th>
                <th>Admin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.createdAt ? invitation.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ invitation.updatedAt ? invitation.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ invitation.email }}</td>
                <td>{{ invitation.admin ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('invitation_edit', {'id': invitation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invite_user_to_company') }}">Create new</a>
{% endblock %}
