<header class="mb-3">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="{% trans %}Toggle navigation{% endtrans %}"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
            <a class="navbar-brand" href="/">SmartChoice</a>

            {% set route_name = app.request.attributes.get('_route') %}
            <ul class="navbar-nav">
                {% if route_name == 'app_login' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_login') }}">{% trans %}navigation.login{% endtrans %}</a>
                    </li>
                {% endif %}
                {% if route_name == 'app_register' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_register') }}">{% trans %}navigation.registration{% endtrans %}</a>
                    </li>
                {% endif %}
            </ul>

            {% if app.user %}
                <div class="navbar-text ml-md-auto">
                    {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
                </div>
            {% else %}
                <ul class="navbar-nav navbar-expand-sm ml-md-auto">
                    <li class="nav-item">
                        <a class="btn btn-primary mx-0 mx-md-1 my-2 my-md-0" href="{{ path('app_login') }}">
                            {% trans %}Sign in{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary mx-0 mx-md-1 my-2 my-md-0" href="{{ path('app_register') }}">
                            {% trans %}Register{% endtrans %}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
