<div class="d-flex justify-content-center">
  <div class="btn-toolbar" role="toolbar" aria-label="Pagination toolbar">
    <a
            href="{{ path('company_transactions', {company: company.id, page: 1}) }}"
            class="btn btn-link mr-2 {% if not pagination.prev %}disabled{% endif %}"
    >{% trans %}start{% endtrans %}</a>
    <a
            href="{{ path('company_transactions', {company: company.id, page: pagination.page - 1}) }}"
            class="btn btn-link mr-2 {% if not pagination.prev %}disabled{% endif %}"
    ><</a>

    <div class="btn-group mr-2" role="group" aria-label="Second group">
      {% for p in pagination.closest(8) %}
        {% set from_current = (p - pagination.page) | abs %}

        {% set show_mobile = from_current < 3 %}
        {% set show_tablet = from_current < 6 %}
        <a
                class="
                      btn btn-link d-lg-inline-block
                      {% if not show_mobile %}d-none{% endif %}
                      {% if show_tablet %}d-md-inline-block{% endif %}
                      {% if p == pagination.page %}disabled{% endif %}
                    "
                href="{{ path('company_transactions', {company: company.id, page: p}) }}"
        >{{ p }}</a>
      {% endfor %}
    </div>

    <a
            href="{{ path('company_transactions', {company: company.id, page: pagination.page + 1}) }}"
            class="btn btn-link mr-2 {% if not pagination.next %}disabled{% endif %}"
    >></a>
    <a
            href="{{ path('company_transactions', {company: company.id, page: pagination.pages}) }}"
            class="btn btn-link mr-2 {% if not pagination.next %}disabled{% endif %}"
    >{% trans %}end{% endtrans %}</a>
  </div>
</div>
