{% extends 'base.html.twig' %}

{% block title %}Right index{% endblock %}

{% block main %}
    <main class="container">
        <h1>Right index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Company</th>
                <th>User</th>
                <th>Admin</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for right in rights %}
                <tr>
                    <td>{{ right.company.name }}</td>
                    <td>{{ right.user.email }}</td>
                    <td>{{ right.admin ? 'Yes' : 'No' }}</td>
                    <td>
                        {% if is_granted('view', right) %}
                            <a href="{{ path('rights_show', {'user': right.user.id, 'company': right.company.id}) }}">show</a>
                        {% endif %}
                        {% if is_granted('edit', right) %}
                            <a href="{{ path('rights_edit', {'user': right.user.id, 'company': right.company.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('rights_new', {'company': company.id}) }}">Create new</a>
    </main>
{% endblock %}
